<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qqweb.dao.UserDao">
    <resultMap id="userMap" type="qqweb.entity.User">
        <id property="userId" column="user_id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="nickname" column="nickname"/>
        <result property="avatarUrl" column="avatar_url"/>
        <result property="onlineStatus" column="online_status"/>
    </resultMap>

    <select id="findByUsername" resultMap="userMap">
        SELECT * FROM users WHERE username = #{username}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO users(username, password, nickname, avatar_url, online_status)
        VALUES(#{username}, #{password}, #{nickname}, #{avatarUrl}, #{onlineStatus})
    </insert>

    <update id="updateOnlineStatus">
        UPDATE users SET online_status = #{status} WHERE user_id = #{userId}
    </update>
</mapper>